@model Cart
@{
    Layout = "_CartLayout";
}
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">
                        @if(Model.CartItems.Any())
                        {
                            <span>@Model.CartItems.Count() items</span>
                        }
                    </div>
                </div>
            </div>
            @if(Model.CartItems.Any())
            {
                @foreach (var item in Model.CartItems)
                {
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" alt="product-img" src="~/Images/Products/@item.ImageName"></div>
                            <div class="col">
                                <div class="row text-muted">Shirt</div>
                                <div class="row">Cotton T-shirt</div>
                            </div>
                            <div class="col">
                                <a href="#" class="decrease-item text-decoration-none" data-cart-id="@Model.Id" data-item-id="@item.Id">-</a>
                                <a href="#" class="border item-count text-decoration-none">@item.Count</a>
                                <a href="#" class="increase-item text-decoration-none" data-cart-id="@Model.Id" data-item-id="@item.Id">+</a>
                            </div>

                            <div class="col">&euro; @item.Price <span class="close">&#10005;</span></div>
                            <div class="col"><i data-item-id="@item.Id" data-cart-id="@Model.Id" class="bi bi-trash3-fill delete"></i></div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="row">
                    <div class="col text-center">
                        <h5>Your cart is empty</h5>
                    </div>
                </div>
            }
       
            <div class="back-to-shop">
                <a asp-action="Index" asp-controller="Home">
                <span class="text-muted">Back to shop</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">
                    @if (Model.CartItems.Any())
                    {
                        <span>ITEMS @Model.CartItems.Count()</span>
                    }
                </div>

                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div id="total-price" class="col text-right">&euro; @Model.TotalPrice</div>
                </div>
                <form asp-action="Checkout" asp-controller="Payments" method="post">
                <button type="submit" class="btn btn-success">Proceed to Checkout</button>
                </form>

        </div>
    </div>
    </div>
</div>
@section Scripts {
        @Html.AntiForgeryToken()
        <script src="~/carts/js/addtocart.js" asp-append-version="true"></script>
        <script src="~/carts/js/decrease.js"  asp-append-version="true"></script>
        <script src="~/carts/js/increase.js"  asp-append-version="true"></script>
        <script src="~/carts/js/delete.js"    asp-append-version="true"></script>
}
