@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Category Management";
    ViewData["PageTitle"] = "Categories";
    Layout = "_AdminLayout";
}

<div class="content mt-5 main-content">
    <!-- Products Section -->
    <section id="products">
        <h3>Categories</h3>
        <a asp-action="Create" asp-controller="Category" class="btn btn-primary text-dark bg-opacity-10 btn-sm mb-2" data-bs-toggle="tooltip" title="Add a new product">Add Category</a>
        <table class="table table-dark table-bordered table-hover shadow-sm rounded table-dark-mode">
            <thead>
                <tr>
                    <th class="text-center align-middle">
                        Name
                    </th>
                    <th class="text-center align-middle">
                        Created Date
                    </th >
                    <th class="text-center align-middle">
                        Updated Date
                    </th>
                    <th class="text-center align-middle">
                        Images
                    </th>
                    <th class="text-center align-middle">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td class="text-center align-middle">@category.Name</td>
                        <td class="text-center align-middle">@category.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                        <td class="text-center align-middle">
                            @(category.UpdatedAt == null ? "Not updated" : category.UpdatedAt?.ToString("yyyy-MM-dd HH:mm"))
                        </td>


                        <td class="text-center align-middle">
                            @if (category.ImageName != null)
                            {
                                <img src="~/Images/Categories/@category.ImageName" width="100px" height="100px" style="border-radius:3px;" alt="Product Image" class="product-image" />
                            }
                            else
                            {
                                <span>No Image</span>
                            }
                        </td>

                        <td class="text-center align-middle">
                            <div class="d-flex justify-content-center gap-2">
                                <a class="btn btn-success btn-sm"
                                   asp-controller="Category"
                                   asp-action="Edit"
                                   asp-route-id="@category.Id">Edit</a>

                                <a href="#" class="btn btn-danger btn-sm delete-btn" data-controller-name="Category" data-id="@category.Id">Delete</a>

                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </section>
</div>


@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/common/js/delete.js" asp-append-version="true"></script>
}