@model ShoppingCart
<form method="post" asp-action="Create"  asp-controller="ShoppingCart">

<div class="row">
    <!-- Product Image -->
    <div class="col-md-5">
        <div id="product-main-img">
            <div class="product-preview">
                <img src="/Images/Products/@Model.Product.ImageName"
                     alt="@Model.Product.Name"
                     style="height: 500px; object-fit: contain; width: 100%;">
            </div>
        </div>
    </div>

    <!-- Product Details -->
    <div class="col-md-5">
            <input asp-for="UserId" hidden />
            <input asp-for="ProductId" hidden />
        <div class="product-details">
            <h2 class="product-name">@Model.Product.Name</h2>
            <div>
                <h3 class="product-price">
                    $@Model.Product.Price
                </h3>
                
            </div>
            <p>@Html.Raw(Model.Product.Description)</p>

            <div class="add-to-cart">
                <div class="qty-label">
                    Qty
                    <div class="input-number">
                        <input asp-for="Count" type="number"  class="form-control" style="width: 70px;">
                            @* <a asp-action="Plus"  asp-controller="ShoppingCart" asp-route-id="@Model.ShoppingCartId" class="qty-up" style="cursor: pointer;">+</a>
                              <a asp-action="Minus"  asp-controller="ShoppingCart" asp-route-id="@Model.ShoppingCartId" class="qty-down" style="cursor: pointer;">-</a> *@
                    </div>
                </div>
                <button type="submit" class="add-to-cart-btn btn btn-primary">
                    <i class="fa fa-shopping-cart"></i> Add to Cart
                </button>
            </div>

            <ul class="product-links list-unstyled">
                <li>Category: <a href="#">@Model.Product.Category.Name</a></li>
            </ul>
        </div>
    </div>
        
</div>

</form>
<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
        <a class="btn btn-success mt-auto" asp-action="Index"  asp-controller="Home">Back To Home</a>
    </div>
</div>