@model List<BestSellingProductVM>

@foreach (var item in Model)
{
    <div class="swiper-slide">
        <div class="product-item image-zoom-effect link-effect">
            <div class="image-holder">
                <a asp-action="Discover" asp-controller="Product" asp-route-id="@item.Id">
                    <img src="~/Images/Products/@item.ImageName" alt="product" class="product-image img-fluid">
                </a>
                <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use xlink:href="#heart"></use>
                    </svg>
                </a>
                <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                        <a href="index.html">@item.Name</a>
                    </h5>
                    @Html.AntiForgeryToken()
                    <a href="#" class="text-decoration-none add-to-cart" data-after="Add to cart"
                       data-product-id="@item.Id"
                       data-product-name="@item.Name"
                       data-image-name="@item.ImageName"
                       data-price="@item.Price"
                       data-count="1">
                        <span>$@item.Price</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}