@model List<DiscoverProductVM>
@foreach (var item in Model)
{
    <div class="swiper-slide">
        <div class="banner-item image-zoom-effect">
            <div class="image-holder">
                <a asp-action="Discover" asp-controller="Product" asp-route-id="@item.Id">
                    <img src="@item.ImageName" alt="product" class="img-fluid">
                </a>
                <a href="#" class="btn btn-light toggle-wishlist position-absolute top-0 end-0 m-2 rounded-circle shadow-sm btn-wishlist"
                                       
                   data-product-id="@item.Id"
                   data-product-name="@item.Name"
                   data-image-name="@item.ImageName"
                   data-price="@item.Price"
                   data-is-in-wishlist="@item.IsInWishlist"
                   style="width: 40px; height: 40px;">
                    @(
                         item.IsInWishlist
                         ? Html.Raw("<i class='bi wishlist-icon bi-heart-fill text-danger'></i>")
                         : Html.Raw("<i class='bi wishlist-icon bi-heart'></i>")
                     )
            </a>
            </div>
            <div class="banner-content py-4">
                <h5 class="element-title text-uppercase">
                    <a href="index.html" class="item-anchor">@item.Name</a>
                </h5>
                <p>@item.Description</p>
                <div class="btn-left">
                    <a asp-action="Discover" asp-controller="Product" asp-route-id="@item.Id" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                </div>
            </div>
        </div>
    </div>
}

