@model DiscoverProductVM
@{
    ViewData["Title"] = "Discover";
    Layout = "_HomeLayout";
}
<section class="collection bg-light position-relative py-5">
    <div class="container">
        <div class="row">
            <div class="title-xlarge text-uppercase txt-fx domino">Collection</div>
            <div class="collection-item d-flex flex-wrap my-5">
                <div class="col-md-6 column-container">
                    <div class="image-holder">
                        <img src="/images/Products/@Model.ImageName" alt="collection" class="product-image img-fluid">
                    </div>
                </div>
                <div class="col-md-6 column-container bg-white">
                    <div class="collection-content p-5 m-0 m-md-5">
                        <h3 class="element-title text-uppercase">@Model.Name</h3>
                        <p class="text-muted fs-5 fw-semibold">Price: @Model.Price.ToString("C")</p>
                        <p>
                            @Model.Description
                        </p>
                        <div class="d-flex align-items-center">
                            @Html.AntiForgeryToken()
                            <a href="#" class="text-decoration-none btn btn-primary add-to-cart me-3"
                               data-product-id="@Model.Id"
                               data-product-name="@Model.Name"
                               data-image-name="@Model.ImageName"
                               data-price="@Model.Price"
                               data-count="1"
                               data-after="Add to cart">
                                <span>Add to Cart ($@Model.Price)</span>
                            </a>

                            <a asp-action="Index" asp-controller="Home" class="btn btn-dark text-uppercase">
                                Shop Collection
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/Carts/JS/AddToCart.js"></script>
}
