@model List<ProductReponseForAdmin>
@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Product Management";
    ViewData["PageTitle"] = "Products";
}
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Has a Sale</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.CategoryName</td>
                <td>
                    @if (product.ImageName != null)
                    {
                        <img src="~/Images/Products/@product.ImageName" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>@(product.HasSale ? "Yes" : "No")</td>
                <td>
                    <a class="btn btn-outline-success" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <form asp-action="Delete" asp-controller="Product" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@product.Id" />
                        <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>

                </td>
            </tr>
        }
</table>

@section Scripts {
@*     <script src="~/js/product/imagedisplay.js"></script>
    <script src="~/js/product/imagevalidation.js"></script>
    <script src="~/js/product/productdatatable.js"></script>
    <script src="~/js/deleteitems.js"></script>
      *@

}
