@model List<ProductReponseForAdmin>
@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Product Management";
    ViewData["PageTitle"] = "Products";
    Layout = "_AdminLayout";
}

<!-- Main Content -->
<div class="content mt-5 main-content">
    <!-- Products Section -->
    <section id="products">
        <h3>Products</h3>
        <a asp-action="Create" asp-controller="Product" class="btn btn-primary text-dark bg-opacity-10 btn-sm mb-2" data-bs-toggle="tooltip" title="Add a new product">Add Product</a>
        <table class="table table-dark table-bordered table-hover shadow-sm rounded table-dark-mode">
            <thead>
                <tr>
                    <th class="text-center align-middle">Name</th>
                    <th class="text-center align-middle">Price</th>
                    <th class="text-center align-middle">Category</th>
                    <th class="text-center align-middle">Image</th>
                    <th class="text-center align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="text-center align-middle">@product.Name</td>
                        <td class="text-center align-middle">@product.Price.ToString("C")</td>
                        <td class="text-center align-middle">@product.CategoryName</td>
                        <td class="text-center align-middle">
                            @if (product.ImageName != null)
                            {
                                <img src="~/Images/Products/@product.ImageName" width="100px" height="100px" style="border-radius:3px;" alt="Product Image" class="product-image" />
                            }
                            else
                            {
                                <span>No Image</span>
                            }
                    </td>

                    <td class="text-center align-middle">
                        <div class="d-flex justify-content-center gap-2">
                            <a class="btn btn-success btn-sm"
                               asp-controller="Product"
                               asp-action="Edit"
                               asp-route-id="@product.Id">Edit</a>

                            <a href="#" class="btn btn-danger btn-sm delete-btn" data-product-id="@product.Id">Delete</a>

                            <a class="btn btn-info btn-sm"
                               asp-controller="Product"
                               asp-action="Details"
                               asp-route-id="@product.Id">Details</a>
                        </div>
                    </td>
                </tr>
             }

            </tbody>
        </table>
    </section>
</div>


@section Scripts {

    @Html.AntiForgeryToken()
    <script src="~/products/delete.js" asp-append-version="true"></script>
}