@model List<ProductReponseForAdmin>
@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Product Management";
    ViewData["PageTitle"] = "Products";
    Layout = "_HomeLayout";
}


<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table id="MyTable" class="table table-bordered table-striped table-hover align-middle text-center">
    <thead>
        <tr class="align-middle bg-dark text-white">
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Has a Sale</th>
            <th>Total Stock</th>
            <th>Sold Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.CategoryName</td>
                <td>
                    @if (product.ImageName != null)
                    {
                        <img src="~/Images/Products/@product.ImageName" width="100px" height="100px" style="border-radius:3px;" alt="Product Image" class="product-image" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
            <td>
                @Html.Raw(product.HasSale
                                ? "<i class='bi bi-check-circle-fill text-success'></i>"
                                : "<i class='bi bi-x-circle-fill text-danger'></i>")

            </td>

                <td>@product.TotalStock</td>
                <td>@product.SoldCount</td>
                <td>
                    <div class="d-flex justify-content-center gap-2">
                        <a class="btn btn-outline-success btn-sm"
                           asp-controller="Product"
                           asp-action="Edit"
                           asp-route-id="@product.Id">Edit</a>

                        <form asp-controller="Product"
                              asp-action="Delete"
                              asp-route-id="@product.Id"
                              method="post"
                              onsubmit="return confirm('Are you sure?')"
                              class="d-inline">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
@*     <script src="~/js/product/imagedisplay.js"></script>
    <script src="~/js/product/imagevalidation.js"></script>
    <script src="~/js/product/productdatatable.js"></script>
    <script src="~/js/deleteitems.js"></script>
      *@

}
