@model ShoppingCartVM

<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10">
                @if (Model.ShoppingCarts.Count() > 0)
                {
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0">Shopping Cart</h3>
                    </div>

                    @foreach (var item in Model.ShoppingCarts)
                    {
                        <div class="card rounded-3 mb-4 shadow-sm border-light">
                            <div class="card-body p-4">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-3 col-lg-2">
                                        <img src="/Images/Products/@item.Product.ImageName"
                                             class="img-fluid rounded-3" alt="Cotton T-shirt" style="max-width: 100%; height: auto;">
                                    </div>

                                    <div class="col-md-5 col-lg-4">
                                        <p class="lead fw-normal mb-2">@item.Product.Name</p>
                                        @* <p class="text-muted mb-2">Size: M | Color: Grey</p> *@
                                    </div>
                                    <div class="col-md-4 col-lg-3 d-flex align-items-center">
                                        <a class="btn btn-light btn-sm px-3 me-2" asp-action="Minus" asp-controller="ShoppingCart" asp-area="Customer" asp-route-id="@item.ShoppingCartId">
                                            <i class="fas fa-minus"></i>
                                        </a>

                                        <input asp-for="@item.Count"
                                               readonly
                                               class="form-control form-control-sm text-center" />

                                        <a class="btn btn-light btn-sm px-3 ms-2" asp-action="Plus" asp-controller="ShoppingCart" asp-area="Customer" asp-route-id="@item.ShoppingCartId">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-lg-2  text-end">
                                        <h5 class="mb-0">$@item.Product.Price</h5>
                                    </div>
                                    <div class="col-md-1 text-end">
                                        <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@item.ShoppingCartId" class="text-danger">
                                            <i class="fas fa-trash fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                    }


                    <div class="d-flex justify-content-center align-items-center vh-100">
                        <div class="text-center">
                            <div>
                                <h2 class="btn btn-success btn-lg p-3">Total Price : $@Model.OrderHeader.TotalPrice</h2>
                            </div>
                            <br />
                            <br />
                            <div>
                                <a class="btn btn-warning btn-lg" asp-area="Customer" asp-action="Summary">Proceed to Summary</a>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="text-center text-danger">
                        <h1>Shopping Cart is empty</h1>
                    </div>
                }

            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="btn btn-success text-center">
        <a class="text-ce" asp-area="Customer" asp-controller="Home" asp-action="Index">Back To Items</a>
    </div>
</section>
