@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    ViewData["Head"] = "Users Management";
    ViewData["PageTitle"] = "Users";
}
<div>
    <a href="/Identity/Account/Register" class="btn btn-success">Create</a>
</div>
<table id="MyTable" class="table">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Role
            </td>
            <td>
                Status
            </td>
            <td>
                Details
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Role
                </td>
                <td>
                    @if (item.LockoutEnd==null|| item.LockoutEnd < DateTime.Now) 
                    {
                        <a class="btn btn-success" asp-area="Admin" asp-controller="Users" asp-action="LockOrOpen" asp-route-userId="@item.Id"><i class="bi bi-unlock-fill"></i></a>
                    } 
                    else
                    {
                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Users" asp-action="LockOrOpen" asp-route-userId="@item.Id"><i class="bi bi-lock-fill"></i></a>
                    }
                </td>
                <td>
                    <a class="btn btn-success" asp-area="Admin" asp-controller="Users" asp-action="Details" asp-route-userId="@item.Id">more details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @* <script src="~/js/users/usersdatatable.js"></script> *@
}